* {
    margin: 0;
    padding: 0;

//===COLORS
    --cl-dark-brown : #180d09;
    --cl-brown : #482a16;
    --cl-light-brown : #7f5432;
    --cl-dark-sand : #b39367;
    --cl-sand : #c59d6c;
    --cl-light-sand : #c8bdaa;
    --cl-pastel-blue : #1b2b46;
    --cl-dark-blue : #0b121b;
    --cl-duck-green : #143d44;
    --cl-grey : #b4b8b9;
    --cl-cream : #e0e2e1;

    


}

body {
    font-size: 18px;
    position: relative;
    overflow-x: hidden;
    background-color: var(--cl-cream);

}

p {
    margin: 5rem;
}

//==============================================HEADER

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-img {
    display: block;
    text-align: center;
    width: 200px;
    margin: 2rem;
    // filter: ;
}


.nav-container {
    position: sticky;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    background-color: white;
    margin-top: 1rem;
    padding: 1rem 0;
    transition: .4s ease;
}

.nav-container-toggle {
    position: sticky;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    background-color: white;
    margin-top: 1rem;
    padding: 1rem 0;
    transition: .4s ease;
}

.hamburger {
    position: fixed;
    z-index: 20;
    transition: 0.6s ease;
    z-index: 3;
    transform: translateY(-5rem);
    right: -5px;
    top: 6rem;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.item {
    margin: 1rem 0;
}

.item a {
    text-decoration: none;
    color: var(--cl-dark-brown);
}


//=========================================HAMBURGER

.ham-logo {
    transition: 0.4s ease-in-out;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 3px;
    height: 2px;
    width: 30px;
    background-color: black;
  }
  
  .ham-bottom-line {
    transition: 0.4s ease-in-out;
    position: absolute;
    z-index: 20;
    top: 65%;
    right: 27px;
    height: 2px;
    width: 30px;
    background-color: black;
  }
  
  .ham-log-rotate {
    transition: 0.4s ease-in-out;
    position: absolute;
    top: 60%;
    left: 3px;
    height: 2px;
    width: 30px;
    background-color: black;
    transform: rotate(45deg);
  }
  
  .ham-bottom-line-rotate {
    transition: 0.4s ease-in-out;
    position: absolute;
    top: 60%;
    right: 27px;
    height: 2px;
    width: 30px;
    background-color: black;
    transform: rotate(-45deg);
  }

  //====================================FOOTER

  .footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: var(--cl-dark-brown);
    color: white;
 
  }
 
.foot-img img {
    width: 5rem;
    color: white;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(315deg) brightness(112%) contrast(101%);
}

  ul > li {
    list-style-type: none;
    font-size: 12px;
  }

//====================================CARDS

.card {
    position: relative;
    z-index: 1;
    height: 18em;
    width: 14em;
    margin-top: 10px;
    border: solid 3px white;
    box-shadow: 4px 4px 8px lightgrey;
    border-radius: 15px;
    transition: 0.8s ease;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center;
    opacity: 1;
  }
  
  .cardhover {
    height: 18em;
    width: 14em;
    margin-top: 10px;
    border: solid 3px white;
    box-shadow: 4px 4px 8px lightgrey;
    border-radius: 15px;
    transition: 0.8s ease;
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.6;
  }

  .upload-form form {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
  }

@media screen and (min-width: 760px) {
    .nav-container {
        position: sticky;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        margin-top: 1rem;
        padding: 1rem 0;
    }

    .item {
        margin: .2rem 0;
    }

    .hamburger {
        display: none;
    }
}
//==============================================================================
//======================================== ADMIN ===============================

.admin-accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: #143d44;
}

.connected-as {
  position: absolute;
  top: 0;
  left: 1rem;
}


.connect-form div {
  margin: 1rem 0;
  display: flex;
}

h1 {
  margin: 1rem 0;
}

.add-article-container {
  border: solid 1px black;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 40%;
}



.add-article-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}


.add-article-form  input, button{
  margin: .5rem 0;
}

textarea {
  resize: none;
  height: 10rem;
}


